[user]
	email = derekmttn@gmail.com
	name = mit-d
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[core]
	excludesFile = ~/.config/git/ignore
	attributesFile = ~/.config/git/attributes
	fsmonitor = true
	untrackedCache = true
	autocrlf = false
[init]
	defaultBranch = main
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
	tool = vimdiff
[difftool]
	prompt = false
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[commit]
	verbose = true
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[merge]
	conflictstyle = diff3
[pull]
	rebase = true
[alias]
	co = checkout
	sw = switch
	br = branch
	ci = commit
	st = status
	config-override = "!git config --file ~/.gitconfig_overrides"
[include]
	path = ~/.gitconfig_overrides
