[user]
	email = derekmttn@gmail.com
	name = mit-d
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[core]
	excludesFile = ~/.config/git/ignore
        fsmonitor = true
        untrackedCache = true
[init]
	defaultBranch = main
[column]
        ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
        tool = vimdiff
[difftool]
        prompt = false
[fetch]
        prune = true
        pruneTags = true
        all = true
[help]
        autocorrect = prompt
[commit]
        verbose = true
[rerere]
        enabled = true
        autoupdate = true
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true
[merge]
        conflictstyle = diff3
[pull]
        rebase = true
